<section class="pb-10 pt-16 border-b border-gray-300 dark:border-zinc-600">
  <h3 class="font-semibold text-2xl mb-4">About Me</h3>
  <p class="mb-4 text-base">
    I'm a fullstack web developer using Angular and NestJS, with a bachelor's degree from Université Nouveaux Horizons
    (UNH - Lubumbashi, DRC).
  </p>
  <p class="text-base">
    Enthusiastic about <strong>building</strong> solid Web applications, I love <strong>discussions</strong>,
    <strong>discovering</strong> and still a tech student.
  </p>
</section>
