<section class="pb-10 pt-16 border-b dark:border-zinc-600">
  <h3 class="font-semibold text-4xl mb-10">My experience</h3>
  @for (experience of experiences; track $index) {
  <div class="flex items-center gap-4 mb-8">
    <div class="flex flex-col gap-2">
      <div class="flex items-center gap-3">
        <p
          class="text-gray-900 dark:text-white font-extrabold text-center px-3 py-1 border dark:border-zinc-600 text-sm rounded-md">
          {{ experience.company[0].toLocaleLowerCase() }}
        </p>
        <p class="text-gray-600 dark:text-gray-100">{{ experience.company }}</p>
      </div>
      <div class="flex items-center gap-5">
        <h4 class="text-gray-900 text-lg dark:text-white">{{ experience.position }}</h4>
        <p class="text-gray-600 dark:text-gray-100">
          {{ experience.duration.from }} &mdash; {{ experience.duration.to }}
        </p>
      </div>
      <ul class="flex flex-wrap" aria-label="Technologies used">
        @for (tool of experience.tools; track $index) {
        <li class="mr-1.5 mt-2">
          <div
            class="flex items-center rounded-full bg-gray-100 dark:bg-zinc-700 px-3 py-1 text-xs font-medium leading-5 text-gray-600 dark:text-zinc-50">
            {{ tool }}
          </div>
        </li>
        }
      </ul>
    </div>
  </div>
  }
</section>
