<section class="pb-10 pt-16 border-b border-gray-300 dark:border-zinc-600">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl font-bold mb-3">Services Offered</h2>
    <p class="mb-8 text-gray-700 dark:text-gray-300">
      I offer end-to-end development solutions tailored to your needs — from crafting intuitive user interfaces to
      building scalable APIs and maintaining robust systems.
    </p>
    <ul class="list-none flex items-center flex-wrap gap-3">
      <li class="mr-1.5 mt-2">
        <div
          class="flex items-center text-xs md:text-sm rounded-md bg-slate-400/20 px-3 py-1 leading-5 text-slate-900 dark:bg-slate-500/20 dark:text-slate-200">
          FullStack Development
        </div>
      </li>
      <li class="mr-1.5 mt-2">
        <div
          class="flex items-center text-xs md:text-sm rounded-md bg-slate-400/20 px-3 py-1 leading-5 text-slate-900 dark:bg-slate-500/20 dark:text-slate-200">
          Frontend Development
        </div>
      </li>
      <li class="mr-1.5 mt-2">
        <div
          class="flex items-center text-xs md:text-sm rounded-md bg-slate-400/20 px-3 py-1 leading-5 text-slate-900 dark:bg-slate-500/20 dark:text-slate-200">
          API Development
        </div>
      </li>
      <li class="mr-1.5 mt-2">
        <div
          class="flex items-center text-xs md:text-sm rounded-md bg-slate-400/20 px-3 py-1 leading-5 text-slate-900 dark:bg-slate-500/20 dark:text-slate-200">
          Maintenance & Support
        </div>
      </li>
      <li class="mr-1.5 mt-2">
        <div
          class="flex items-center text-xs md:text-sm rounded-md bg-slate-400/20 px-3 py-1 leading-5 text-slate-900 dark:bg-slate-500/20 dark:text-slate-200">
          Database Design & Management
        </div>
      </li>
    </ul>
  </div>
</section>
