<section class="pb-10 pt-16 border-b border-gray-300 dark:border-zinc-600">
  <div class="container mx-auto">
    <h2 class="text-3xl font-bold mb-3">Services Offered</h2>
    <p class="mb-8 text-gray-700 dark:text-gray-300">
      I offer end-to-end development solutions tailored to your needs — from crafting intuitive user interfaces to
      building scalable APIs and maintaining robust systems.
    </p>
    <div class="grid grid-cols-1 gap-x-6 gap-y-10 md:grid-cols-2 lg:grid-cols-3">
      @for (s of services; track $index) {
      <div class="flex flex-col gap-1">
        <p
          class="h-10 w-10 border-gray-300 text-center flex flex-col items-center justify-center rounded-full text-gray-600 dark:text-gray-200 bg-gray-200 dark:bg-zinc-600">
          <i-lucide [name]="s.icon" class="size-5" />
        </p>
        <h5
          class="font-extrabold py-2 border-r-1 border-gray-200 dark:border-zinc-700 text-lg mb-1.5 text-gray-900 dark:text-gray-100">
          {{ s.title }}
        </h5>
        <p class="text-sm">{{ s.description }}</p>
      </div>
      }
    </div>
  </div>
</section>
