<section class="pb-10 pt-16 border-b border-gray-300 dark:border-zinc-600">
  <h3 class="font-semibold text-2xl mb-4">About Me</h3>
  <p class="mb-4 text-base">
    As a dedicated software developer, I specialize in building robust applications using NestJS for backend development
    and Angular for frontend interfaces. My daily toolkit includes Git and GitHub for version control, ensuring seamless
    collaboration and code integrity. I deploy applications on Virtual Private Servers (VPS) using PM2, optimizing
    performance and reliability.
  </p>
  <p class="text-base">
    Beyond technical expertise, I am passionate about fostering strong relationships and thrive in collaborative
    environments. I believe that continuous improvement is key to innovation, and I am committed to learning and
    adapting to new technologies and methodologies.
  </p>
</section>
